.containerr {
  margin: 1em;
  #ccontatus {
    font-size: 2em;
    font-family: "Crimson Text", serif;
  }
  .fa {
    padding-top: 9px;
    margin-left: 8px;
    color: gray;
  }
  input[type="text"],
  select,
  textarea {
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  textarea {
    background-color: black;
    color: gray;
    font-size: 1em;
  }
  button {
    width: 100px;
    height: 42px;
    border-radius: 10px;
    font-family: calibr;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
    background-color: #2d2a2a;
    color: #ddd;
  }
}

.sticky-social {
  // opacity: 0.3;
  position: fixed;
  top: 20vh;
  right: 0;
  padding: 0px;
  margin: 0px;

  .social {
    list-style: none;
  }
  .social li {
    padding: 1px 1px;
    font-size: 15px;
    transition: all 0.8s ease-in-out;
  }
  .social li:hover {
    margin-left: -30px;
    box-shadow: 2px 5px 10px grey;
  }
  .social li:hover .fa {
    margin-right: 20px;
  }

  .fa {
    color: black;
    transition: all 0.8s ease-in-out;
  }
  // .git {
  //   background-color: black;
  // }
  // .fb {
  //   background-color: black;
  // }
  // .twitter {
  //   background-color: black;
  // }
  // .insta {
  //   background-color: black;
  // }
  // .pin {
  //   background-color: black;
  // }
  // .vim {
  //   background-color: black;
  // }
}
