header {
  background-color: rgb(230, 230, 230);
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
  z-index: 10000;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 11px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;

    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a + .ani {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(10vh - 10px);
    overflow-y: auto;
  }

  .nav > #nav-check {
    display: none;
  }
}

.text-container {
  p:nth-child(1) {
    font-family: calibr;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 22px;
    font-size: 1.3em;
    margin: 0;
  }
  P:nth-child(2) {
    width: 100%;
    font-family: calibr;
    color: rgb(40, 44, 46);
    font-weight: 500;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    margin: 0;
    margin-left: 1em;
  }
  .txt-r {
    text-align: center;
    font-size: 18px;
    font-family: "Courier Prime", monospace;
    color: rgb(80, 80, 80);
    font-weight: 550;
    margin-bottom: 0;
  }
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .image {
    animation: bounce 5s infinite;
    animation-timing-function: ease;
  }
  img {
    border-radius: 200px;
    width: 200px;
    transform: translateY(-30%);
  }
  .hire-btn {
    position: relative;
    z-index: 1000;
    background-color: #ffffff;
    color: #0b0b0b;
    border: 2px solid #0b0b0b;
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibr;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
    cursor: pointer;
  }

  .dwnld-cv {
    position: relative;
    z-index: 1000;
    background-color: #0b0b0b;
    color: #ffffff;
    border: none;
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: calibr;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
    cursor: pointer;
    transition: all 0.5ms ease-in-out;
  }
  button:active {
    transform: scale(1.1);
  }
  button:hover() {
    transform: scale(0.5);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}
body {
  max-width: 480px;
}
